<h1>All Students</h1>

<%= grid(@students_grid, show_filters: :no) do |g|

 g.column name: 'Student ID', attribute: 'id' do |student|
   student.id
 end

 g.column name: 'Name', attribute: 'name' do |student|
   student.name
 end

 g.column name: 'Email' do |student|
   student.email
 end

 g.column name: 'Slack username' do |student|
   student.slack
 end

 g.column name: 'Slack username' do |student|
   student.slack
 end  

 g.column name: 'Show' do |student|
   link_to('Show', student_path(student))
 end

 g.column name: 'Edit' do |student|
   link_to('Edit', edit_student_path(student))
 end
end %>

<br>
<%= link_to 'All tutors', tutor_index_path %>