<%= @student.name.split(" ")[0]%>,<br><br>

Unfortunately, <%= @tutor.name %> has declined your request for a tutoring session on <%= @appointment.window.name %>. Head back to the <a href="http://tutormatch.herokuapp.com">TutorMatch home page</a> to search for a different tutor.<br><br>

Thanks,<br><br>

The Flatiron School via <a href="http://tutormatch.herokuapp.com">TutorMatch</a>