<%= @student.name.split(" ")[0]%>,

Unfortunately, <%= @tutor.name %> has declined your request for a tutoring session on <%= @appointment.window %>. Head back to the <a href="http://tutormatch.herokuapp.com">TutorMatch home page</a> to search for a different tutor.

Thanks,

The Flatiron School via <a href="http://tutormatch.herokuapp.com">TutorMatch</a>