All,<br><br>

This is to notify you that <%= @canceled_by.name %> has canceled the tutoring session scheduled for <%= @appointment.window.name %>. If you are a student, you can create an alternative appointment by visiting the <a href="http://tutormatch.herokuapp.com">TutorMatch home page</a>.<br><br>

Thanks,<br><br>

The Flatiron School via <a href="http://tutormatch.herokuapp.com">TutorMatch</a>