All,

This is to notify you that <%= @canceled_by %> has canceled the tutoring session scheduled for <%= @appointment.window %>. If you are a student, you can create an alternative appointment by visiting the <a href="http://tutormatch.herokuapp.com">TutorMatch home page</a>.

Thanks,

The Flatiron School via <a href="http://tutormatch.herokuapp.com">TutorMatch</a>