<%= @student.name.split(" ")[0]%>,

Congratulations! <%= @tutor.name %> has declined your request for a tutoring session on <%= @appointment.window %>. If you can no longer attend that tutoring session, please cancel as soon as possible by clicking <a href="http://tutormatch.herokuapp.com/appointments/<%= $APPOINTMENT_ID %>/cancel">here</a>.

Thanks,

The Flatiron School via <a href="http://tutormatch.herokuapp.com">TutorMatch</a>