<%= @appointment.list_students %>,<br><br>

Congratulations! <%= @tutor.name %> has accepted your request for a tutoring session on <%= @appointment.window.name %>. If you can no longer attend that tutoring session, please cancel as soon as possible by clicking <a href="http://tutormatch.herokuapp.com/appointments/<%= @appointment.id %>/cancel">here</a>.<br><br>

Thanks,<br><br>

The Flatiron School via <a href="http://tutormatch.herokuapp.com">TutorMatch</a>