<% if logged_in? %>
  <%= link_to current_student.name, student_path(current_student) %>
  <%= link_to 'Log Out', logout_path %>
<% else %>
<button type="submit" id="Student"><a href="/student/new">Student Login</a></button>
<button type="submit" id="Tutor"><a href="/tutor/new">Mentor Login</a></button>
<% end %>


