<% if logged_in? %>
  <% if current_tutor %>
    <%= link_to current_tutor.name, tutor_path(current_tutor) %>
  <% else %>
    <%= link_to current_student.name, student_path(current_student) %>
  <% end %>
  <%= link_to 'Log Out', logout_path %>
<% else %>
	<button type="submit" id="Student"><a href="/student/new">Student Login</a></button>
	<button type="submit" id="Tutor"><a href="/tutor/new">Alumnus Login</a></button>
<% end %>