<h1>All Tutors</h1>

<%= grid(@tutors_grid, show_filters: :no) do |g|

 g.column name: 'tutor ID', attribute: 'id' do |tutor|
   tutor.id
 end

 g.column name: 'Name', attribute: 'name' do |tutor|
   tutor.name
 end

 g.column name: 'Email' do |tutor|
   tutor.email
 end

 g.column name: 'Slack username' do |tutor|
   tutor.slack
 end

 g.column name: 'Slack username' do |tutor|
   tutor.slack
 end  

 g.column name: 'Show' do |tutor|
   link_to('Show', student_path(tutor))
 end

 g.column name: 'Edit' do |tutor|
   link_to('Edit', edit_student_path(tutor))
 end
end %>